
<ion-view view-title="">

    <div class="bar bar-header bar-dark" >
        <h1 class="title">Hospital de Urgencias</h1>
    </div>
    <ion-nav-bar class="bar-stable">

        <ion-nav-buttons side="right"  >
            <button class="button button-icon button-clear back_btn"  ng-click="myGoBack()">
                <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left"  >
            <button class="button button-icon button-clear"style="bottom:5px;">
                <img src="img/ic3.png"/>
            </button>

        </ion-nav-buttons>







        <ion-content class="main_bg">





            <div class="news_detail " style="padding-top: 35px;" >




                <div class="card">
                    <div class="item item-divider">
                        Exames

                    </div>
                    <div class="item item-text-wrap">
                        <ion-item>


                            <h2>ÁCIDO ÚRICO : </h2>

                            <h3>Sinonímia:</h3>
                            <p>
                                Uricemia, urato, uricosúria
                            </p>


                            <h3>Preparo do paciente:</h3>
                            <p>

                                Jejum obrigatório de 8 horas para dosagem no soro. Para dosagem de urina, colher urina 24 horas, alcalinizada (bicarbonato de sódio 5g/L urina). Não refrigerar.
                            </p>
                        </ion-item>



                        <ion-item>


                            <h2>COLESTEROL  : </h2>
                            <h3>Sinonímia:</h3>
                            <p> Colesterolemia, colesterol total e frações. </p>
                            <h3>Material</h3>
                            <p>Soro</p>

                            <h3>Preparo do paciente: </h3>
                            <p>
                                Jejum obrigatório de 12 horas. Recomenda-se não fazer uso de bebidas alcoólicas pelo menos 48h antes do exame.
                            </p>
                            <h3>Método</h3>
                            <p>
                                CHOD/PAD - automatizado

                            </p>
                        </ion-item>




                        <ion-item>


                            <h2>CREATININA : </h2>

                            <h3>Sinonímia: </h3>
                            <p>Creatinemia, creatinúria.
                            </p>
                            <h3>Material</h3>
                            <p>Soro,Urina: -amostra recente de menos 24h (usar HCl 50% 20 mL/L urina, ou refrigerar)</p>
                            <h3>Preparo do paciente:</h3>
                            <p>Jejum obrigatório de 4 horas. </p>
                            <h3>Método</h3>
                            <p>
                                Cinético Jaffé automatizado. 
                            </p>    </ion-item>







                    </div></div>
            </div>
        </ion-content>

</ion-view>
