<ion-view hide-nav-bar="true">
  <ion-content class="login_page" scroll="false">
      <div class="logo animated infinite flash">
        <img src="img/logo.png"/>
      </div>
      <form class="log_form">
        <div class="list list-inset">
        <label class="item item-input">
           <input type="email" placeholder="example@mail.com">
        </label>
        <label class="item item-input">
           <input type="password" placeholder="************">
        </label>
         <a href="#/tab/news" class="button button-block">entrar</a>
         <a href="#/register" class="button button-block main_btn">Criar Conta</a>
         <div class="row skip_forget">
             <div class="col">
                <a href="#" class="button button-clear" ng-click="forget_password()"> Perdi minha senha</a>
             </div>
              <div class="col col-10">
                <span>|</span>
             </div>
             <div class="col col-33">
                <a href="#/tab/news" class="button button-clear">Skip</a>
             </div>
        </div>
    </form>
  </ion-content>
</ion-view>