
<ion-view view-title="">

    <div class="bar bar-header bar-dark" >
        <h1 class="title">Hospital de Urgencias</h1>
    </div>
    <ion-nav-bar class="bar-stable">

        <ion-nav-buttons side="left"  >
            <button class="button button-icon button-clear"style="bottom:5px;">
                <img src="img/ic3.png"/>
            </button>
        </ion-nav-buttons>

        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear" ng-click="myGoBack()" style="bottom:5px;">
                <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
        <ion-content class="main_bg">
            <div class="news_detail " style="padding-top: 35px;" >
                <div class="card">
                    <div class="item item-divider">
                        Profissionais
                    </div>
                    <div class="item item-text-wrap">
                        
                        <div class="item item-text-wrap">
                            <p>Cardiologista:</p>
                            Dra. Maria de oliveira silva.
                        </div>
                        
                        <div class="item item-text-wrap">
                            <p>Ginecologia:</p>
                            Dra. Fernanda de Alencar silva.
                        </div>
                        
                        <div class="item item-text-wrap">
                            <p>Médico Pediatria:</p>
                            Dr. Pedro josé da Silva.
                        </div>

                        <div class="item item-text-wrap">
                            <p>Odontologia</p>
                            Dr. Fernando Alves Castro
                        </div>

                        <div class="item item-text-wrap">
                            <p>Ortopedia</p>
                            Dr. Carlos Cesar de Andrade
                        </div>

                        <div class="item item-text-wrap">
                            <p>Psiquiatria</p>
                            Dr. Hugo Damasceno Silva Junior
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>

</ion-view>
