<ion-view view-title="">

    <div class="bar bar-reader bar-dark" >
        <h1 class="title">Hospital de Urgências</h1>
    </div>


    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left"  >
            <button class="button button-icon button-clear"style="bottom:5px;">
                <img src="img/ic3.png"/>
            </button>
        </ion-nav-buttons>
        
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear" ng-click="myGoBack()" style="bottom:5px;">
                  <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>



        <ion-content class="main_bg">
            <div class="news_detail " style="padding-top: 35px;" >
                <div class="card">
                    <div class="item item-divider">
                        Plantão do Dia
                    </div>
                    <div class="item item-text-wrap">
                        <p>Médico Pediatra:</p>
                        Dr. Pedro josé da Silva.
                    </div>

                    <div class="item item-text-wrap">
                        <p>Cardiologista:</p>
                        Dra. Maria de oliveira silva.
                    </div>

                    <div class="item item-text-wrap">
                        <p>Odontólogo</p>
                        Dr. Fernando Alves Castro
                    </div>
         
                    <div class="item item-text-wrap">
                        <p>Psiquiatria</p>
                        Dr. Hugo Damasceno Silva Junior
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-divider">
                        Recursos Disponiveis:
                    </div>
                    <div class="row">
                        <div class="col-50" style="margin-left: 15px;">
                            <a href="http://localhost:8383/consultar/index.html#/tab/profissionais">
                                <div class="" style="  background-color:#398439;">
                                    <img  class=""src="img/ProfissionaisBG.png"/>
                                </div> </a>
                        </div> 
                        <div class="col-50">  
                            <a href="http://localhost:8383/consultar/index.html#/tab/medicamentos">
                                <div class="" style="  background-color:#0daec8;  ">
                                    <img  class=""src="img/medicamentosBG.png"      />
                                </div>
                            </a>
                        </div> 
                    </div>
                    <div class="row">

                        <div class="col-50" style="margin-left: 15px;">
                            <a href="http://localhost:8383/consultar/index.html#/tab/exames">
                                <div class="" style="  background-color:#ac2925;    ">
                                    <img  class=""src="img/examesBG.png"      />
                                </div> 
                            </a>
                        </div>
                        <div class="col-50">  
                            <a href="http://localhost:8383/consultar/index.html#/tab/vacinas">
                                <div class="" style="  background-color:#caab01;">
                                    <img  class=""src="img/vacinasBG.png"/>
                                </div>
                            </a>
                        </div> 
                    </div>
                </div>
                <div class="list card">
                    <div class="item item-divider">
                        Localização
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3829.464801218107!2d-48.944270585138426!3d-16.2991780887392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935ea418d2836dd3%3A0x7193ccf5f2b6a99b!2sHospital+de+Urg%C3%AAncias+Dr.+Henrique+Santillo!5e0!3m2!1spt-BR!2sbr!4v1478642787122" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>       
                <br>
            </div>
        </ion-content>

</ion-view>