<ion-view>
 <ion-nav-bar class="bar-stable det_page">
     <div class="bar bar-header bar-dark" >
        <h1 class="title">Localização</h1>
    </div>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
            <button class="button button-icon button-clear back_btn" ng-click="myGoBack()">
                  <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
  
    </ion-nav-bar>
  
           
             
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d61259.72015254437!2d-48.99431273343183!3d-16.336606311250083!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospital+em+anapolis!5e0!3m2!1spt-BR!2sbr!4v1479727825600" width="100%" height="90%" frameborder="0" style="border:0" allowfullscreen></iframe>
      

</ion-view>
