<ion-view view-title="">
    <div class="bar bar-reader bar-dark">
        <h1 class="title"> Unidades de Saúde </h1>
    </div>
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="right" >
            <a href="#/tab/doctor" class="button button-icon button-clear">
                <img src="img/ic3.png"/>
            </a>
        </ion-nav-buttons>

        <ion-nav-buttons side="left">
            <a href="#/login" class="button button-icon button-clear left_btn">
                <img src="img/ic1.png"/>
            </a>
            <button class="button button-icon button-clear ser_icon left_btn" ng-click="search_doc()">
                <img src="img/ic2.png"/>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div ng-class="{'animated slideInRight':search_input}" class="bar bar-subheader">
        <div class="list ser_inpt" ng-if="search_input">
            <label class="item item-input">
                <input type="text" placeholder="Buscar">
            </label>
        </div>
    </div>  

    <ion-content class="main_bg hospital_list">

        <div class="" style="padding-top: 35px;">
            <a href="#/tab/huana"

               collection-item-width="'100%'"
               collection-item-height="160px">

                <div class="row">

                    <div class="col">
                        <img src="img/huana.jpg"/>
                    </div>

                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>HUANA</h3>
                            <br>
                            Av. Brasil Norte - Cidade Universitária<br>
                            Anápolis - GO, 75083-440
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">



                    <div class="col">
                        <img src="img/santa.jpg"/>
                    </div>
                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>Santa Casa de Misericordia</h3>
                            <br>
                            R. Campinas, 1135 - Vila Americano do Brasil<br>
                            Goiânia - GO, 74530-240
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">

                    <div class="col">
                        <img src="img/postim.png"/>
                    </div>
                    <div class="col hospital_data">
                        <div class="padding">
                            <h3>Unidade de Saúde da Família Boa Vista - São Carlos</h3>
                            <br>  
                            R. 5 - Boa Vista, Anápolis - GO, 75075-320
                        </div>
                    </div>
                </div>
            </a>
        </div>  


    </ion-content>
</ion-view>
