
<ion-menu ">
  <ion-content>
    <ion-list>
    ...
    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav ></ion-nav>

<ion-tabs class="tabs-icon-top tabs-color-active-positive">
        
             <div  style="
      
      z-index: 9999;
      position: absolute; 
      right: 0; 
    bottom: 100px; 
    
        ">
           <button class="button button-icon button-clear">
              <img src="img/ic3.png"/>
            </button>
      </div>
      
    
  <!-- Dashboard Tab -->
 

  <!-- Chats Tab -->
 

  <!-- Account Tab -->
  <ion-tab href="#/tab/news"  icon-on="tab_img third_img" icon-off="tab_img third_img">
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>

 <!-- Chats Tab -->
  <ion-tab href="#/tab/unidadesDeSaude"  icon-on="tab_img four_img" icon-off="tab_img four_img">
    <ion-nav-view name="tab-unidadesDeSaude"></ion-nav-view>
  </ion-tab>

  
  

 <ion-tab href="#/tab/localizacao" icon-on="tab_img fir_img" icon-off=" tab_img fir_img"  >
      <ion-nav-view name="tab-localizacao">
          
          
      </ion-nav-view>
  </ion-tab>
</ion-tabs>
