
<ion-view view-title="">
    
    <div class="bar bar-header bar-dark" >
  <h1 class="title">Hospital de Urgencias</h1>
</div>
 <ion-nav-bar class="bar-stable">
     
      <ion-nav-buttons side="right"  >
          <button class="button button-icon button-clear back_btn"      ng-click="myGoBack()">
                  <img src="img/arrow.png"/>
            </button>
        </ion-nav-buttons>
        <ion-nav-buttons side="left"  >
            <button class="button button-icon button-clear"style="bottom:5px;">
              <img src="img/ic3.png"/>
            </button>
            
        </ion-nav-buttons>

       
    

     
     
     
  <ion-content class="main_bg">
      
      
             
       

      <div class="news_detail " style="padding-top: 35px;" >
       
  
      
      
         <div class="card">
  <div class="item item-divider">
   Vacinas
   
  </div>
  <div class="item item-text-wrap">
      <ion-item>
          

   <h2>POLIOMIELITE OU PARALISIA INFANTIL : </h2>
   <h3>Como é produzida a vacina?</h3>
  <p>Ela é produzida a partir de polivírus vivo atenuado. </p>
     <h3>Como é aplicada?</h3>
  <p>Por via oral. Em três doses, com intervalo de 60 dias cada uma.  </p>
     <h3>Quem deve tomar?</h3>
  <p>Todas as crianças menores de cinco anos.</p>
   <h3>Quando é preciso tomar?</h3>
  <p>Aos dois, quatro e seis meses de idade. O reforço deve ser aplicado aos 15 meses. Além disso, todas as crianças menores de cinco anos de idade devem receber a vacina nos dias de Campanha Nacional de Vacinação contra poliomielite, independente de estarem com a vacina em dia. </p>
   <h3>Quais os benefícios?</h3>
  <p>Ela protege contra a poliomielite ou paralisia infantil </p>
</ion-item>

   
  
       <ion-item>
          

   <h2>HEPATITE B : </h2>
   <h3>Como é produzida a vacina?</h3>
  <p>A partir de componentes do vírus da hepatite B. </p>
     <h3>Como é aplicada?</h3>
  <p>Por injeção. São necessárias três doses da vacina </p>

   <h3>Quando é preciso tomar?</h3>
  <p>A primeira dose deve ser tomada na maternidade. A segunda, com um mês de idade. A terceira, com seis meses.
</p>
   <h3>Quais os benefícios?</h3>
  <p>Protege contra a hepatite B, doença causada por vírus e que provoca malestar, febre baixa, dor de cabeça, fadiga, dor abdominal, náuseas, vômitos e aversão a alguns alimentos. A doença é grave porque pode levar a uma infecção crônica do fígado e, na idade adulta, levar ao câncer de fígado.
</p>
</ion-item>
      
      
      
      
       <ion-item>
          

   <h2>TUBERCULOSE : </h2>
   
     <h3>Como é aplicada?</h3>
  <p>Por meio de injeção. É necessário tomar apenas uma dose. No entanto, o Ministério da Saúde recomenda tomar reforço após seis meses.  </p>
     <h3>Quem deve tomar?</h3>
  <p>Todas as crianças .</p>
   <h3>Quando é preciso tomar?</h3>
  <p>Após o nascimento, quando ainda estiver na maternidade. </p>
   <h3>Quais os benefícios?</h3>
  <p>Ela protege contra as formas graves da tuberculose, doença contagiosa, produzida por bactéria que atinge principalmente os pulmões e que, se não for tratada, pode provocar sérios problemas respiratórios e até levar à morte.  </p>
</ion-item>
        
  
  
      
      
      
      
  </div></div>
         </div>
      </ion-content>

</ion-view>
